<div class="favicon_edit_image_dropzone_wrap">
  <label class="favicon_edit_image_dropzone" for="{{PREFIX}}">
    <input
      type="file"
      id="{{PREFIX}}"
      class="favicon_edit_image_input"
      accept="image/png,image/jpeg,image/webp"
    />
    <span
      class="favicon_edit_image_dropzone_preview"
      id="{{PREFIX}}_thumb"
    ></span>
    <span class="favicon_edit_image_dropzone_label">Click here to upload</span>
  </label>
  <button
    type="button"
    class="favicon_history_delete favicon_edit_image_remove"
    id="{{PREFIX}}_remove"
    aria-label="Remove image"
  >
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
  <p class="favicon_edit_image_error" id="{{PREFIX}}_error" hidden></p>
</div>
<div class="favicon_edit_image_options">
  <div class="hide_overflow">
    <div class="input_container">
      <label
        >Scale
        <span id="{{PREFIX}}_scale_text">(100%)</span></label
      >
      <input
        type="range"
        min="20"
        max="300"
        value="100"
        id="{{PREFIX}}_scale"
      />
    </div>
  </div>
  <div class="hide_overflow">
    <div class="input_container input_container_50">
      <label
        >Position X
        <span id="{{PREFIX}}_pos_x_text">(0%)</span></label
      >
      <input
        type="range"
        min="-50"
        max="50"
        value="0"
        id="{{PREFIX}}_pos_x"
      />
    </div>
    <div class="input_container input_container_50">
      <label
        >Position Y
        <span id="{{PREFIX}}_pos_y_text">(0%)</span></label
      >
      <input
        type="range"
        min="-50"
        max="50"
        value="0"
        id="{{PREFIX}}_pos_y"
      />
    </div>
  </div>
  <div class="hide_overflow">
    <div class="input_container">
      <label
        >Opacity
        <span id="{{PREFIX}}_opacity_text">(100%)</span></label
      >
      <input
        type="range"
        min="0"
        max="100"
        value="100"
        id="{{PREFIX}}_opacity"
      />
    </div>
  </div>
</div>
