<nav id="main_nav">
  <a id="main_nav1" href="popup.html"
    ><i class="fa fa-home" aria-hidden="true"></i><span>Home</span></a
  >
  <a id="main_nav2" href="result.html"
    ><i class="fa fa-star" aria-hidden="true"></i><span>Download</span></a
  >
  <a id="main_nav3" href="history.html"
    ><i class="fa fa-history" aria-hidden="true"></i><span>History</span></a
  >
  <a id="main_nav4" href="feedback.html"
    ><i class="fa fa-commenting-o" aria-hidden="true"></i
    ><span>Feedback</span></a
  >
  <a id="main_nav5" href="settings.html"
    ><i class="fa fa-cog" aria-hidden="true"></i><span>Settings</span></a
  >
</nav>
